modules = ["dotnet"]

[nix]
channel = "stable-24_05"
packages = ["dotnet-sdk_8", "vim"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "rebuild_test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "poker_enhanced_test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "poker-game"

[[workflows.workflow]]
name = "rebuild_test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && ./rebuild.sh"

[[workflows.workflow]]
name = "poker_enhanced_test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && ./poker-services.sh start --port-offset 0 --verbose --curses"

[[workflows.workflow]]
name = "poker-game"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && ./poker-services.sh start --port-offset 0 --verbose --curses"

[deployment]
run = ["sh", "-c", "cd /home/runner/workspace && ./poker-services.sh start-client --port-offset 200 --curses"]

[[ports]]
localPort = 5570
externalPort = 80

[[ports]]
localPort = 5571
externalPort = 3000

[[ports]]
localPort = 5572
externalPort = 3001
